* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.header__image {
  object-fit: contain;
}

.app__body {
  padding: 20px;
  margin-left: 20%;
}
