* {
  margin: 0;
}

.app {
  background-image: linear-gradient(
    to right top,
    #f2f7ff,
    #d5dafe,
    #d0b7f4,
    #da8ed9,
    #e75cab
  );
}

.app__header {
  object-fit: contain;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header__image {
  object-fit: contain;
  width: 120px;
}

.app__body {
  padding: 20px;
}
