.post {
  background: rgba(49, 45, 50, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  margin-bottom: 45px;
  margin-left: 60px;
  margin-right: 60px;
}

.post:hover {
  box-shadow: 5px 5px 12px 2.5px #222;
}

.post__header {
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

h3 {
  font-weight: normal;
}

h4 {
  color: white;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  color: white;
  padding: 20px;
}

.post__comment {
  background: rgba(49, 45, 50, 1);
  flex: 1;
  border: none;
  padding: 10px;
}

.post__button {
  background: rgba(49, 45, 50, 1);
  flex: 0;
  border: none;
  color: white;
  border: 1px solid white;
}
